{% extends "patient/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="mx-0 my-4 card effect-5">
        <div class="row">
            <div class="col-12">
                <div class="card-body px-5">
                    <h4 class="d-inline-block">Prescription of</h4>
                    <h1 class="text-danger text-left d-inline-block">Mr. xyz</h1>
                </div>
            </div>
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u class="text-uppercase">Drug list: </u></b></h5>
                    </span>
                <div style="padding-left: 120px;">
                    <ul class="list-group">
                        <li class="list-group-item active">Drug Name</li>
                        <li class="list-group-item">Drug 1</li>
                        <li class="list-group-item">Drug 2</li>
                        <li class="list-group-item">Drug 3</li>
                        <li class="list-group-item">Drug 4</li>
                    </ul>
                </div>

                </p>
            </div>
            <div class="col-md-6">
                <div style="padding-right: 120px;" class="mt-5">
                    <ul class="list-group mr-5">
                        <li class="list-group-item active">Unit(pec.)</li>
                        <li class="list-group-item">22</li>
                        <li class="list-group-item">10</li>
                        <li class="list-group-item">5</li>
                        <li class="list-group-item">254</li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <hr style="border: 3px solid cadetblue !important;">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-body px-5">
                    <h4 class="d-inline-block">Prescription of</h4>
                    <h1 class="text-danger text-left d-inline-block">Mr. A</h1>
                </div>
            </div>
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u class="text-uppercase">Drug list: </u></b></h5>
                    </span>
                <div style="padding-left: 120px;">
                    <ul class="list-group">
                        <li class="list-group-item active">Drug Name</li>
                        <li class="list-group-item">Drug 1</li>
                        <li class="list-group-item">Drug 2</li>
                        <li class="list-group-item">Drug 3</li>
                        <li class="list-group-item">Drug 4</li>
                        <li class="list-group-item">Drug 5</li>
                        <li class="list-group-item">Drug 6</li>
                    </ul>
                </div>

                </p>
            </div>
            <div class="col-md-6">
                <p>
                <div style="padding-right: 120px;" class="mt-5">
                    <ul class="list-group mr-5">
                        <li class="list-group-item active">Unit(pec.)</li>
                        <li class="list-group-item">22</li>
                        <li class="list-group-item">10</li>
                        <li class="list-group-item">5</li>
                        <li class="list-group-item">254</li>
                        <li class="list-group-item">5</li>
                        <li class="list-group-item">254</li>
                    </ul>
                </div>
                </p>
            </div>
        </div>
        <hr style="border: 3px solid cadetblue !important;">
    </div>
</div>
{% endblock content %}