{% extends 'patient/base.html' %}

{% block content %}
<div class="container">
    <div class="mx-0 my-4 card effect-5">
        <div class="text-center">
            <h2 class="text-danger">Lab AID</h2>
            <h5>Medical Lab Report</h5>
        </div>
        <hr style="border: 5px solid cadetblue !important;">
        <div class="row g-3">
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u class="text-uppercase">Name:</u></b></h5>
                    </span>
                    Md Belal Hossain
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Case:</u></b></h5>
                    </span>
                    D-08-111834
                </p>
            </div>
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Age:</u></b></h5>
                    </span>
                    32
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Height:</u></b></h5>
                    </span>
                    5'7"
                </p>
            </div>
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Sex:</u></b></h5>
                    </span>
                    Male
                </p>
            </div>
            <div class="col-12 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Address:</u></b></h5>
                    </span>
                    Raj Complex 187, Elephant Road, Dhaka, Bangladesh
                </p>
            </div>
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Contact:</u></b></h5>
                    </span>
                    01558684945
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Occupation:</u></b></h5>
                    </span>
                    Senior software engineer
                </p>
            </div>
            <div class="col-md-6 px-5">
                <p>
                    <span>
                        <h5 class="d-inline-block"><b><u>Blood Group:</u></b></h5>
                    </span>
                    AB<sup>+ve</sup>
                </p>
            </div>
        </div>
        <h3 class="text-center mt-5">Surgical Pathology Report</h3>
        <hr style="border: 3px solid cadetblue !important;">
        <hr style="border: 3px solid cadetblue !important;">
        <div class="mb-5">
            <h4 class="px-5"><u>Diagnosis</u></h4>
            <p class="px-5">Skin, left cheek, excisional biopsy-</p>
            <p class="px-5">infundibulocystic basal cell carcinoma;</p>
            <p class="px-5">completely excised.</p>
            <p class="mt-5 px-5">Test, Pathologist Pathologist (Electronic Signature)</p>

            <div class="col-5 px-5">
                <hr style="border: 1px solid black !important;">
            </div>
            <p class="px-5">PT 02/29/2008</p>
        </div>
        <hr style="border: 3px solid cadetblue !important;">
        <hr style="border: 3px solid cadetblue !important;">
        <div class="mt-5">
            <div class="px-5">
                <h4><u>Microscopic Examination</u></h4>
                <p>Sections show an infundibulocystic basal cell carcinoma with basaloid cells forming follicular cysts
                    and
                    connecting up
                    to the epidermis. The dermis shows solar elastosis. The lesion appears to be completely excised.</p>
            </div>
            <div class="px-5">
                <h4 class="mt-4"><u>Gross Examination</u></h4>
                <p>Skin ellipse: left cheek</p>
                <p>Size: 1.0 x 0.6 cm</p>
                <p>Excision depth: 0.2 cm</p>
                <p>Orientation: no</p>
                <p>Skin surface: central pigmented lesion measuring 0.3 x 0.3 cm</p>
                <p>Ink: black</p>
                <p>Notes: Serially sectioned and entirely submitted in 1 cassette for microscopic examination.</p>
                <p class="mt-4">PT /PT</p>
            </div>

            <div class="px-5">
                <h4 class="mt-4"><u>Specimen</u></h4>
                <p>From left cheek</p>
            </div>

            <div class="px-5">
                <h4 class="mt-4"><u>Pertinent History</u></h4>
                <p>ICD-9: 238.2; rule out bcc; check margins</p>
            </div>
        </div>
        <hr style="border: 3px solid cadetblue !important; margin-top: 250px;">
        <div class="row g-3 mb-5">
            <div class="col-md-12">
                <p class="text-center">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved to <a href="/"
                        class="text-decoration-none text-dark"><u><strong>Prescription</strong></u></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}