{% extends 'main_template.html' %}

{% block content %}
{% load static %}
<div class="hero" style="background-image: url('{% static 'images/background.png' %}');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 intro text-center">
        <h1 class="text-white">Advice Posts</h1>
        <a href="/">Home</a> <span class="mx-3 text-white">/</span> <strong class="text-white">Advice
          Posts</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 text-center mx-auto">
        <h2 class="section-heading"><strong>Advice &amp; Tips</strong></h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html" class="mb-3 d-block">
            <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">

            <span class="meta d-inline-block">December 01, 2020 <span class="mx-2">by</span> <a
                href="#">Admin</a></span>
            <h2><a href="single.html">Natural Healing For The Body</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias
              consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html" class="mb-3 d-block">
            <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">

            <span class="meta d-inline-block">December 01, 2020 <span class="mx-2">by</span> <a
                href="#">Admin</a></span>
            <h2><a href="single.html">Natural Healing For The Body</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias
              consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html" class="mb-3 d-block">
            <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">

            <span class="meta d-inline-block">December 01, 2020 <span class="mx-2">by</span> <a
                href="#">Admin</a></span>
            <h2><a href="single.html">Natural Healing For The Body</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias
              consectetur.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html" class="mb-3 d-block">
            <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">

            <span class="meta d-inline-block">December 01, 2020 <span class="mx-2">by</span> <a
                href="#">Admin</a></span>
            <h2><a href="single.html">Natural Healing For The Body</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias
              consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html" class="mb-3 d-block">
            <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">

            <span class="meta d-inline-block">December 01, 2020 <span class="mx-2">by</span> <a
                href="#">Admin</a></span>
            <h2><a href="single.html">Natural Healing For The Body</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias
              consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html" class="mb-3 d-block">
            <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">

            <span class="meta d-inline-block">December 01, 2020 <span class="mx-2">by</span> <a
                href="#">Admin</a></span>
            <h2><a href="single.html">Natural Healing For The Body</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias
              consectetur.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <div class="custom-pagination">
          <a href="#">1</a>
          <span>2</span>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-primary py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-md-0">
        <h2 class="mb-0 text-white">What are you waiting for?</h2>
        <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
      </div>
      <div class="col-lg-5 text-md-right">
        <a href="#" class="btn btn-primary btn-white">Click Sign up button <br> at top</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}