{% extends 'main_template.html' %}

{% block content %}
{% load static %}
<div class="hero" style="background-image: url('{% static 'images/background.png' %}');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 intro text-center">
        <h1 class="text-white">Contact</h1>
        <a href="/">Home</a> <span class="mx-3 text-white">/</span> <strong class="text-white">Contact</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5">
        <form action="#" method="post">
          <div class="form-group row">
            <div class="col-md-6 mb-4 mb-lg-0">
              <input type="text" class="form-control" placeholder="First name" required="required">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Last name" required="required">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Email address" required="required">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"
                required="required"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 mr-auto">
              <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message">
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 ml-auto">
        <div class="bg-white p-3 p-md-5">
          <h3 class="text-black mb-4">Contact Info</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block mb-3">
              <span class="d-block text-black">Address:</span>
              <span>Devoloper zone, Noakhali, Chittagong, Bangladesh</span></li>
            <li class="d-block mb-3">
              <span class="d-block text-black">
                Phone:
              </span>
              <span>
                01832344599 <br>
                01779874377
              </span></li>
            <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>admin@admin.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}