{% extends 'main_template.html' %}

{% block content %}
{% load static %}
<div class="hero" style="background-image: url('{% static 'images/background.png' %}');">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 intro text-center">
        <h1 class="text-white"><strong class="text-primary">Save</strong> time &amp; <strong
            class="text-primary">Bookmark</strong> your medical life.</h1>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste reiciendis veritatis id unde
          molestiae modi saepe. Rem vitae ipsa eos autem natus aliquam, necessitatibus commodi itaque nisi
          voluptates perferendis praesentium quia ipsum soluta. Aperiam soluta rem accusantium exercitationem
          excepturi explicabo ullam dicta sint modi quibusdam a facere, iusto expedita magni.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container-fluid px-0">
    <div class="row no-gutters align-items-stretch">
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="#" class="service">
          <div class="icon-wrap">
            <i class="fa fa-wheelchair fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Patient Panel</h3>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="#" class="service">
          <div class="icon-wrap">
            <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Doctors Panel</h3>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="/about-us" class="service" target="_blank">
          <div class="icon-wrap">
            <i class="fa fa-plus-square fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Know more about us</h3>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="#" class="service">
          <div class="icon-wrap">
            <i class="fa fa-camera fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Gellery</h3>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 text-center order-lg-2">
        <div class="img-wrap-1 mb-5">
          <img src="{% static 'images/online_consult.jpg' %}" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 ml-auto order-lg-1">
        <h3 class="mb-4 section-heading"><strong>Why Choose Us</strong></h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt error modi saepe adipisci
          illo culpa nemo ipsam nulla voluptas perferendis voluptatum, veniam voluptate libero. Ducimus, facere?
          Vero odio neque perspiciatis?</p>

        <p><a href="contact.html" class="btn btn-primary">Contact us now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-acupuncture"></span>
          </div>
          <div class="contents">
            <h3>Patient history</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-acupuncture-1"></span>
          </div>
          <div class="contents">
            <h3>Doctor account</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>

      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-therapy"></span>
          </div>
          <div class="contents">
            <h3>Follow your doctor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-herbal"></span>
          </div>
          <div class="contents">
            <h3>Bookmark your prescription</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-herbal"></span>
          </div>
          <div class="contents">
            <h3>List Down all of your Medicine</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 text-center mx-auto">
        <h1><span class="text-primary d-block">User Review</span></h1>
        <h2 class="section-heading"><strong>User are our strong site</strong></h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, veniam.</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="{% static 'images/owner_muktopranh.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Md Belal Hossain</span>
              <span>Owner, Muktopranh</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, veniam.</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="{% static 'images/programmer.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Abu Sayeed Md Iqbal Majumder</span>
              <span>Senior Programmer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, veniam.</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="{% static 'images/hacker.JPG' %}" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Habibur Rahaman</span>
              <span>Senior Cyber Security spealist</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-primary py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-md-0">
        <h2 class="mb-0 text-white">What are you waiting for?</h2>
        <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
      </div>
      <div class="col-lg-5 text-md-right">
        <a href="#" class="btn btn-primary btn-white">Click Sign up button <br> at top</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}