{% extends 'main_template.html' %}

{% block content %}
{% load static %}
<div class="hero" style="background-image: url('{% static 'images/background.png' %}');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 intro text-center">
        <h1 class="text-white">Services</h1>
        <a href="/">Home</a> <span class="mx-3 text-white">/</span> <strong
          class="text-white">Services</strong>
      </div>
    </div>
  </div>
</div>

<div class="services mb-5">
  <div class="container-fluid px-0">
    <div class="row no-gutters align-items-stretch">
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="#" class="service">
          <div class="icon-wrap">
            <i class="fa fa-wheelchair fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Patient Panel</h3>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="#" class="service">
          <div class="icon-wrap">
            <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Doctors Panel</h3>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="/about-us" class="service" target="_blank">
          <div class="icon-wrap">
            <i class="fa fa-plus-square fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Know more about us</h3>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md col-lg h-100">
        <a href="#" class="service">
          <div class="icon-wrap">
            <i class="fa fa-camera fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Gellery</h3>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-acupuncture"></span>
          </div>
          <div class="contents">
            <h3>Patient history</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-acupuncture-1"></span>
          </div>
          <div class="contents">
            <h3>Doctor account</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>

      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-therapy"></span>
          </div>
          <div class="contents">
            <h3>Follow your doctor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-herbal"></span>
          </div>
          <div class="contents">
            <h3>Bookmark your prescription</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="#" class="d-flex service-2">
          <div class="icon-wrap">
            <span class="flaticon-herbal"></span>
          </div>
          <div class="contents">
            <h3>List Down all of your Medicine</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, minus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-primary py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-md-0">
        <h2 class="mb-0 text-white">What are you waiting for?</h2>
        <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
      </div>
      <div class="col-lg-5 text-md-right">
        <a href="#" class="btn btn-primary btn-white">Click Sign up button <br> at top</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}